@charset "UTF-8";
html,
body {
    font-family: 'Poor Story', cursive, 'Sunflower', sans-serif;
    font-size: 25px;
      width: 100%;
    background-color: beige;
}

#submitBTN {
    font-family: 'Poor Story', cursive, 'Sunflower', sans-serif;
    font-size: 25px;
}


.col-sm:nth-child(1) {
    width: 100%;
    height: auto;
    background-color: yellow;
}