#boardContent{
	overflow:auto;
	width:100%;
	heigth:800px;
	background-color:black;
}
#leftMenu{
	display:inline-block;
	bakcground-color:green;
	width:12%;
}
#rightBoardList{
	display:inline-block;
	width:85%;
	background-color:yellow;
}