<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
    <link rel="stylesheet" href="../../CSS/common.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
     
    <script src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../../CSS/category.css" type="text/css"/>
    <script src="../../JS/common.js"></script>    
</head>
<body>        
        <a id="categoryTitle" data-toggle="dropdown">여성의류
          <!--  <a href="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkGE1oYG8JBKlceOymr_QHMYvZA6_O65mJg0HyXAnmDdovyIqdOQ"></a>
          -->
                <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
</body>
</html>