*{
        margin:0;
        padding:0;
 }
section article {margin: 0 auto;}
#wrapper{
    width:100%;
    height:auto;
 
}
#header{
    width:100%;
    height:140px;
       background-color:red;
}
#navigation{
    width:100%;
    height:50px;
    background-color:darkorange;
}
#content{
    width:960px;
    height:auto;
    display:block;
}
#footer{
	width:100%;
	height:auto;
	display:block;

}
#crossLine{
	width:100%;
	height:10px
	background-color:gray;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    background-size:cover;
}  
h2{
    color:red;
}


@media(max-width:400px){
    #main .entireBG {
        display: block;
    }
    #main .entireBG div{
        width:100%;
    }
    #main .entireBG a h3{
        font-size: 8vw;
    }
}