* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration-line: none;
	text-decoration-color: black;
}

.content {
	width: 100%;
	height: 100%;
	overflow: auto;
	/*            background-color: grey;*/
}

#advertising {
	/*            background-color: red;*/
	overflow: auto;
}

#headerDetailGroup {
	height: 120px;
	/*            background-color: hotpink; */
	position: inherit;
}

#logoarea {
	width: 15%;
	/*        overflow: auto;*/
	margin: 0px;
	margin-left: 290px;
	/*        background-color: aquamarine;*/
	float: left;
	display: inline-block;
}

#middleTwoBox {
	width: 50%;
	overflow: none;
	margin-right: 250px;
	/*        background-color: bisque;*/
	float: left;
}

#headerTitle {
	width: 100%;
	height: 20%;
	/*        background-color: greenyellow;*/
	float: left;
	display: inline-block;
	margin-left: 370px;
}

#headerTitle div {
	float: left;
	display: inline-block;
	margin-left: 30px;
	/*           background-color: red;*/
}

#searchBox {
	width: 100%;
	height: 80%;
	/*        background-color: white;*/
	float: left;
	display: inline-block;
}

#searchText {
	height: 50%;
	overflow: auto; /*수정했음*/
	margin-left: 180px;
	/*        background-color: cyan;*/
	float: left;
	display: inline-block;
}

#searchIcon {
	height: 50%;
	width: 50px;
	margin-right: 20px;
	margin-top: 23px;
	/*         background-color: mediumpurple;*/
	float: left;
	display: inline-block;
}

#search {
	height: 35px;
	width: 400px;
	margin-top: 25px;
	border: 3px solid black;
	float: left;
	display: inline-block;
}

.inputImg {
	width: 40px;
	height: 40px;
	background: url(../../img/search.PNG);
	background-repeat: no-repeat;
	background-position: center;
}

.bs-example {
	width: 100%;
	height: 100%;
	background-color: white;
}

.nav nav-pills {
	width: 100%;
}

.navimove {
	margin-left: 400px;
}

li a:hover {
	background-color: white;
}

#bookmark {
	font-weight: 800;
}